@import url(http://fonts.googleapis.com/css?family=Raleway:100);

.search_container {

	padding: 1em;
	text-align: center;
	background: white;
	font-size: 0.8em;
}

.search_container input{

	text-align: left;
	margin: 0.75em;
	margin-bottom: 2em;
}

.search_container img.loading {

	display: block;
	margin: auto;
	margin-bottom: 2em;
}

.search_container ul img {

	margin: 2em;
	width: 130px;
	display: inline;
}
